Repository pileofwolves/finmer, pull requests merged in 2021-09, with the labels that each got.

#4 Add continuous integration
  .github/workflows/ci.yml
Labels: enhancement

#3 Rewrite character sheet page
  Finmer.Game/Converters/CharSheetItemDropConverter.cs
  Finmer.Game/Converters/CharSheetItemUseConverter.cs
  Finmer.Game/Converters/CharSheetUseLabelConverter.cs
  Finmer.Game/Finmer.csproj
  Finmer.Game/Models/DesignData/SampleCharacterSheet.xaml
  Finmer.Game/ViewModels/CharacterSheetViewModel.cs
  Finmer.Game/Views/CharSheetInventoryItemActions.xaml
  Finmer.Game/Views/CharSheetInventoryItemActions.xaml.cs
  Finmer.Game/Views/CharSheetPage.xaml
  Finmer.Game/Views/CharSheetPage.xaml.cs
  Finmer.Game/Views/ItemBoxView.xaml
  Finmer.Game/Views/ItemBoxView.xaml.cs
  Finmer.Game/Views/ItemEquipmentBoxView.xaml
  Finmer.Game/Views/ItemEquipmentBoxView.xaml.cs
  Finmer.Game/Views/ItemIconView.xaml
  Finmer.Game/Views/ItemListView.xaml
  Finmer.Game/Views/ItemListView.xaml.cs
  Finmer.Game/Views/ItemTooltipView.xaml
Labels: enhancement, finmer/game

#8 Reset Combat UI
  Finmer.Game/Models/GameUI.cs
Labels: bug, finmer/game

#10 Fix gender options in character creation screen not applying properly
  Finmer.Game/Views/CharCreateBasic.xaml
  Finmer.Game/Views/CharCreateBasic.xaml.cs
Labels: bug, finmer/game
