Repository pileofwolves/finmer, pull requests merged in 2021-12, with the labels that each got.

#26 Add EndGame exported function
  Finmer.Game/Gameplay/GameSession.cs
  Finmer.Game/Gameplay/Scripting/GameplayScriptLibrary.cs
Labels: enhancement, finmer/game

#27 Addition of PreySense mechanic
  Finmer.Game/Gameplay/Player.cs
  Finmer.Game/Models/UserConfig.cs
  Finmer.Game/ViewModels/UserConfigViewModel.cs
  Finmer.Game/Views/OptionsPage.xaml
  Modules/Projects/Core/Script_MiscUtilities.lua
  Modules/Projects/Core/Script_TableEnums.lua
Labels: enhancement, content/core, cosmetic

#28 Improve editor documentation by adding step-by-step tutorial
  Modules/Docs/Tutorial.html
  Modules/Projects/Tutorial/TQ01.json
  Modules/Projects/Tutorial/TQ01_CR_Wolf.json
  Modules/Projects/Tutorial/TQ01_Combat.json
  Modules/Projects/Tutorial/TQ01_I_Pendant.json
  Modules/Projects/Tutorial/TQ01_Patch_Inn.json
  Modules/Projects/Tutorial/TQ01_Patch_NoticeBoard.json
  Modules/Projects/Tutorial/TQ01_Patch_RoadNorth.json
  Modules/Projects/Tutorial/TQ01_Scene_Hideout.json
  Modules/Projects/Tutorial/TQ01_Strings.json
  Modules/Projects/Tutorial/Tutorial.fnproj
  README.md
Labels: documentation, finmer/editor

#29 Fix crash when calling GiveItem() with a non-existent item name
  Finmer.Game/Gameplay/Player.cs
Labels: bug, finmer/game

#31 Configure link nodes to select target nodes on double-click
  Finmer.Editor/FormDocumentScene.Designer.cs
  Finmer.Editor/FormDocumentScene.cs
Labels: enhancement, finmer/editor

#30 Implement checkpoints (lightweight save data)
  .editorconfig
  Finmer.Core/Compilers/SceneCompiler.cs
  Finmer.Game/Finmer.csproj
  Finmer.Game/Gameplay/GameController.cs
  Finmer.Game/Gameplay/GameSession.cs
  Finmer.Game/Gameplay/GameSnapshot.cs
  Finmer.Game/Gameplay/ISaveable.cs
  Finmer.Game/Gameplay/Player.cs
  Finmer.Game/Gameplay/SaveData.cs
  Finmer.Game/Gameplay/SaveManager.cs
  Finmer.Game/Gameplay/Scene.cs
  Finmer.Game/Gameplay/SceneScripted.cs
  Finmer.Game/Gameplay/Scripting/LuaApi.cs
  Finmer.Game/Gameplay/Scripting/LuaUtils.cs
  Finmer.Game/Gameplay/Scripting/SaveDataScriptLibrary.cs
  Finmer.Game/Models/GameUI.cs
  Finmer.Game/Models/LogMessageModel.cs
  Finmer.Game/ViewModels/GameOverPanelViewModel.cs
  Finmer.Game/ViewModels/SavePageViewModel.cs
  Finmer.Game/ViewModels/TitlePageViewModel.cs
  Finmer.Game/Views/NewGamePage.xaml.cs
  Finmer.Game/Views/Parts/GameOverPanelView.xaml
  Finmer.Game/Views/Parts/GameOverPanelView.xaml.cs
  Finmer.Game/Views/Parts/LogView.xaml.cs
  Modules/Projects/Core/Scene_DireWolf_Stomach.json
  Modules/Projects/Core/Scene_Intro.json
  Modules/Projects/Core/Scene_TownInn.json
Labels: enhancement, finmer/game, content/core
